.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #e6f4fd;
  /* border-radius: 12px; */
  /* box-shadow: 0 2px 8px rgba(56,182,255,0.06); */
}
.menu-list a {
  color: #0470BC;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 20px 10px 16px;
  /* border-radius: 8px; */
  transition: background 0.18s, color 0.18s;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
}
.menu-list a:hover {
  background: #bfe6fa;
  color: #1B1464;
  cursor: pointer;
}
.menu-icon {
  display: flex;
  align-items: center;
  min-width: 24px;
  margin-right: 4px;
} 